body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/3_backgrounds/the_background.jpg');
    background-position: top;
    font-family: 'luckiestguy', Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 48px;
    color: darkblue;
    letter-spacing: 4px;
}

canvas {
    background-color: black;
    display: none;
}

#option_overlay {
    height: 656px;
    background-color: white;
    width: 390px;
    border-radius: 12px;
    color: darkblue;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding-bottom: 16px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transform: translateX(200%);
    transition: transform 125ms ease-in-out;
}

#option_overlay h3 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}

#option_overlay::-webkit-scrollbar {
    display: none;
}

.button_indicator {
    border: 2px solid darkblue;
    border-radius: 4px;
    width: 32px;
    text-align: center;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
}

.button_indicator_space {
    border: 2px solid darkblue;
    border-radius: 4px;
    width: 72px;
    text-align: center;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
}

.movement_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.movement_row img {
    width: 56px;
}

.enemy_explanation {
    font-size: 14px;
    overflow-y: auto;
    height: 64px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#overlay_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 99999;
}

#midlayer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy_explanation::-webkit-scrollbar {
    display: none;
}

#startscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 480px;
    width: 100vw;

}

#handyscreen_info {
    color: red;
    display: none;
}

#startscreen button {
    width: 250px;
    height: 75px;
    border: none;
    border-radius: 12px;
    font-family: 'luckiestguy', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: darkblue;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

#startscreen button:hover {
    cursor: pointer;
    scale: 1.1;
    font-size: 30px;
    background-color: darkblue;
    color: white;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

footer button {
    border: none;
    border-radius: 4px;
    font-family: 'luckiestguy', Arial, Helvetica, sans-serif;
    background-color: darkblue;
    color: white;
    height: 32px;
    width: 124px;
    text-wrap: nowrap;
}

footer button:hover {
    color: darkblue;
    background-color: white;
    cursor: pointer;
}

#hud {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    height: 172px;
    margin-top: -176px;
}

#hud div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#hud div button {
    border-radius: 36px;
    border: 0px;
    height: 48px;
    width: 48px;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: darkblue;
    margin-top: -8px;
}

#hud div button:active {
    scale: 0.9;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
}

.g4 {
    gap: 4px;
}

.w84 {
    width: 84%;
}

.mt40 {
    margin-top: 40px;
}

.unfill_font{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}

@font-face {
    font-family: 'luckiestguy';
    src: url('./img/5_fonts/luckiestguy-Regular.ttf') format('truetype');
}


/* for smartphones*/
@media only screen and (max-width: 720px) {

    #hud,
    canvas {
        width: 100%;
    }

    #handyscreen_info {
        display: unset;
    }

}

@media only screen and (max-width: 420px) {


    #handyscreen_info {
        display: unset;
    }

}

@media only screen and (max-height: 480px) {

    #hud {
        display: flex;
    }

    canvas {
        height: 100vh;
        width: 100vw;
    }

    h1 {
        display: none;
    }
}